name: Create Release

on:
  push:
    tags:
      - v*.*.*

jobs:
  build_app:
    name: Build Flutter APP
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      - name: Flutter Clear
        run: flutter pub get
      - name: Get dependencies
        run: flutter pub get
      - name: Build Android (AAB)
        run: |
          flutter build appbundle --release
          mv build/app/outputs/bundle/release/app-release.aab  build/app/outputs/bundle/release/pokedex.aab
      - name: Build Android (APK)
        run: |
          flutter build apk --split-per-abi
          mv /build/app/outputs/apk/release/app-armeabi-v7a-release.apk /build/app/outputs/apk/release/pokedex-armeabi-v7a-release.apk
          mv /build/app/outputs/apk/release/app-arm64-v8a-release.apk /build/app/outputs/apk/release/pokedex-arm64-v8a-release.apk
          mv /build/app/outputs/apk/release/app-x86_64-release.apk /build/app/outputs/apk/release/pokedex-x86_64-release.apk
      - name: Build WEB
        run: |
          flutter build web --web-renderer html --release
          zip -r pokedex-web.zip build/web/
      - name: Create Github Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/bundle/release/pokedex.aab,/build/app/outputs/apk/release/pokedex-armeabi-v7a-release.apk,/build/app/outputs/apk/release/pokedex-arm64-v8a-release.apk,/build/app/outputs/apk/release/pokedex-x86_64-release.apk,pokedex-web.zip"
          token: ${{ secrets.TOKEN }}
